<h3>Contacts</h3>

<table id="contacts" align="center">
  <tr>
    <td style="text-align: right;" valign="top">
      <%= image_tag "semin.png", :height => 110 %>
    </td>
    <td style="text-align: left;">
      Semin Lee<br />
      Department of Biochemistry<br />
      University of Cambridge<br />
      80 Tennis Court Road<br />
      Cambridge CB2 1GA<br />
      Email: semin at cryst.bioc.cam.ac.uk
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">
      Bernardo Ochoa<br />
      Department of Biochemistry<br />
      University of Cambridge<br />
      80 Tennis Court Road<br />
      Cambridge CB2 1GA<br />
      Email: bernardo at cryst.bioc.cam.ac.uk
    </td>
    <td style="text-align: left;">
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">
    </td>
    <td style="text-align: left;">
      Rinaldo W. Montalvao<br />
      Department of Chemistry<br />
      Lensfield Road<br />
      Cambridge, CB2 1EW<br />
      Email: rinaldo at cryst.bioc.cam.ac.uk
    </td>
  </tr>
</table>

