<h3>What is MINK?</h3>

Simply the best structural similarity detector<br />
<br />

<h3>Why MINK?</h3>
Jolly fast<br />
<br />

<h3>When MINK?</h3>
You are a busy man. <br />
You don't care about sequence similarity.<br />
<br />
