    <p>
    Your job <%= @mink_search.uuid %> is complete.
    </p>

    <p>
    You can use the following link to view the results:<br />
    <%= mink_search_url(@mink_search, :host => "http://brunor.bioc.cam.ac.uk") %>
    </p>
