html, body { 
  border: 0px;
  text-align: center;
}

body {
  color: #000;
  background: #FFF;
  font-family: Time New Roman, Times, sans-serif;
  font-size: 100%;
}

hr {
  clear: both;
  width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ol {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h4 {
  padding: 5px;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

ul {
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
}

div.black_link a {
  color: #000;
}

div.black_link a:link, a:visited {
  color: #000;
  text-decoration: none;
}

div.black_link a:hover, a:active {
  color: #000;
  text-decoration: underline;
}

div.blue_link a {
  color: #00F;
}

div.blue_link a:link, a:visited {
  color: #00F;
  text-decoration: none;
}

div.blue_link a:hover, a:active {
  color: #00F;
  text-decoration: underline;
}

div#main {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  text-align: center;
}

div#mink_search_form {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: left;
}

div#mink_result {
  text-align: left;
}

div.list_spacer {
  clear: both;
  height: 2px;
  width: 650px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #AAA;
}

div.list {
  padding: 4px;
  width: 650px;
  height: auto;
  background: #FFF;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

div.small_image {
  float: left;
  width: 115px;
  height: 110px;
  margin-right: 10px;
}

div.list_title {
  margin-bottom: 10px;
  font-weight: bold;
}

div.list_content {
  font-size: 90%;
}

div#footer_banner {
  margin-top: 5px;
  text-align: center;
}

table#mink_vector {
  width: 750px;
}

table#similar_mink_vector {
  width: 100%;
  text-align: center;
}

table#similar_mink_vector td {
  width: 150px;
}

table#user_mink_vector {
  width: 750px;
}

table.mink {
  width: 95%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.mink th {
  font-size: 95%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid #666666;
}

table.mink td {
  font-size: 92%;
  padding: 5px;
  border: 1px solid #666666;
}

table.mink a {
  color: #00F;
}

table.mink a:link, a:visited {
  color: #00F;
  text-decoration: none;
}

table.mink a:hover, a:active {
  color: #00F;
  text-decoration: underline;
}

table.mink tr.title, td.title {
  margin: 0px;
  font-weight: bold;
}

table.mink td.title_center {
  text-align: center;
}

table#mink_search_form {
}

table#mink_search_form tr {
  text-align: left;
}

table#contacts {
  width: 90%;
}

table#contacts td.right {
  text-align: right;
}

table#contacts td.left {
  text-align: left;
}

