<h3>MINK Vector Search</h3>

<table id="mink_search_form" align="center">
<% form_for @mink_search, :html => { :multipart => true } do |f| %>
  <tr>
    <td>
      PDB file
    </td>
    <td>
      <%= f.file_field :pdb %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :cutoff %>
    </td>
    <td>
      <%= f.text_field :cutoff %>
    </td>
  </tr>
  <tr>
    <td colspan=2 style="text-align: center">
      <%= f.submit "Submit" %>
    </td>
  </tr>
<% end %>
</table>
<ul>
  <li>
  We recommend you to use 0.XXX for maximum distance cutoff. According to the anlaysis we performed (link to article), 0.XXX roughly detect simlar structures at the SCOP superfamily level.
  </li>
</ul>
